<p>Un Usuario solicitó recuperar su contraseña con mail {{name}}. </p>
<p>El mail ingresado no corresponde con ninguno registrado en Hubbpack, </p>
<p>por lo cual no se pudo realizar dicha acción.</p>